:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.qr-container {
  max-width: 20rem;
  background-color: var(--white);
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 20px;
  text-align: center;
}

.qr-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.qr-content header {
  height: 288px;
}

.qr-img {
  width: 100%;
  border-radius: 10px;
}

.qr-text-container {
  padding: 0 1rem;
}

.qr-title {
  color: var(--darkBlue);
  font-size: 1.375rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.qr-paragraph {
  color: var(--grayishBlue);
  font-size: 0.9375rem;
}

@media (max-width: 320px) {
  .qr-content header {
    height: auto; 
  }
}